
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.container{
    display:flex;
}

/*------------------------------------------------------------*/
header .container{
    margin-top:40px;
    margin-bottom:47px;
    justify-content: center;
}
header h1{
    color: #75B79E;
    font-weight: 700;
    font-size:56px;
}
header .container .box{
    display:none;
}

/*------------------------------------------------------------*/
main{
    margin-left: 122px;
    margin-right: 116px;
}
main img{
    width: 100px;
    height: 100px;
}
.cardsContainer{
    display: flex;
}
main .cardsContainer{
    justify-content: center;
    flex-wrap: wrap;
}
main .cardsContainer .box{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    margin-bottom:34px;
    margin-right:34px;
}
main .cardsContainer .box img{
    margin-top: 24px;
    margin-bottom: 22px;
    margin-left:10px;
    margin-right: 7px;
}

@media (max-width: 560px){
    header .cardsContainer .desktop{
        display:none;
    }
    header .cardsContainer .box{
        flex-direction: column;
        display:flex;
    }
    header .cardsContainer .box .mobileBottom{
        /*Usar essa aba pra alinhar a palavra "GAME" no centro na versão mobile*/
    }
}