*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.container{
    display:flex;
}

/*------------------------------------------------------------*/

header .container{
    margin-top:40px;
    margin-bottom:47px;
    justify-content: center;
}
header h1{
    color: #75B79E;
    font-weight: 700;
    font-size:56px;
}
header .container .box{
    display:none;
}

/*------------------------------------------------------------*/
main{
    margin: 0px 116px 0px 122px;
    display: flex;
    flex-wrap: wrap;
}
main img{
    width: 100px;
    height: 100px;
}
.cardsContainer{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    margin: 0px 0px 34px 34px;
    position:relative;
}
.face{
    margin: 24px 10px 22px 7px;
    position:absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.backFace {
transform: rotateY(180deg);
}

.cardsContainer:hover .backFace {
transform: rotateY(0deg);
}

.cardsContainer:hover .frontFace {
transform: rotateY(-180deg);
}